a:hover{
    text-decoration: underline;
}

.img-fluid{
    opacity: 0.7;
    transition: 0.5s ease-in-out;
    border-radius: 360px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}

.img-fluid:hover{
    opacity: 1;
}

#homesec{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.11);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.2px);
-webkit-backdrop-filter: blur(1.2px);
}

.homesec{
    height: 100vh;
    background-image: url(../images/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.aboutsec{
    height: 100%;
}

.skillsec{
    height: 100%;
}

.testimonialsec{
    height: 100%;
}

body{
    background: radial-gradient(circle at 10% 20%, rgb(255, 197, 61) 0%, rgb(255, 94, 7) 90%);
}

#testimonials{
    margin-top: 5rem;
    background-image: rgba(0,0,0,0.5);
    background-attachment:fixed;
    background-size:cover;
    background-position:center;

    background-image: url(../images/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.rounded-circle{
    border-radius: 50% !important;
}

#carousel-img:hover{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    transition: 0.5s ease-in-out;


}

nav{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.1px);
-webkit-backdrop-filter: blur(2.1px);
border: 1px solid rgba(255, 255, 255, 0.12);
opacity: 0.8;
font-size: 20px;
}

nav:hover{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    transition: 0.5s ease-in-out;
    opacity:    1;
}

.projects-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.projects-container img {
    max-height: 400px;
    flex-grow: 1;
    object-fit: cover;
}